.App {
  text-align: center;
}

.Title {
  background-color: #4B6F44;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(20px + 1vmin);
  color: white;
}

.Listing {
  background-color: #4F4D46;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.ItemList {
  background-color: #EDE8D0;
  min-height: 8vh;
  display: flex;
  /* grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px; */
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: #4F4D46;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
